>>> piece,
.blue, >>> coords {
  background-color: transparent !important;
}
 
/* for learning-board ============================*/
.move-history-content, .lesson-content {
  background-color: #fff;
  border-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 2px;
  height: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  overflow: auto;
}
.move-history-content div {
  flex-wrap: wrap;
  display: flex;
}
.lesson-area {
  height: 220px;
}
/* for learning-board ============================*/
.v-btn {
  height: 30px;
  min-width: 20%;
  margin: 0px;
}
.main-button {
  min-width: 30% !important;
}
.chess-move-history {
  min-width: 50%;
}
.index {
  flex: 0 0 14%;
  border-right: 1px solid #d9d9d9;
  background: #f7f6f5;
  color: #b3b3b3;
  justify-content: center;
  align-content: center;
  font-size: 15px;
}
.move {
  flex: 0 0 43%;
  font-size: 1.185em;
  padding-left: 10px;
  height: 30px;
  align-content: center;
  font-size: 18px;
}
.move:hover {
  cursor: pointer;
  background-color: #1b83e4;
  color: white;
}
.current-move {
  font-weight: bold;
  background: #d1e6fa;
  color: #1f1f1f;
}
/*for playing page ===========================*/
/* reset background color for dialog */
.black, .white {
  background-color: transparent !important;
}
.pick-color {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}
/*for playing page ===========================*/
@media (min-width: 1904px) {
    .flex.offset-lg1 {
        margin-left: 0%;
    }
    .flex.lg6 {
        -ms-flex-preferred-size: 66.66666666666666%;
    flex-basis: 66.66666666666666%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 66.66666666666666%;
    }
    .lesson-area {
      height: 350px;
    }
    .lesson-content {
      height: 310px;
    }
}